body{
	background-color: #000
}
ul{
	list-style-type: none;
}
.top-large-buffer{

    margin-top: 48px;
}
.small-buffer {
    margin-top: 12px;
    margin-bottom:12px;
}
.medium-buffer {
    margin-top: 24px;
    margin-bottom: 24px;
}
.large-buffer {
    margin-top: 48px;
    margin-bottom: 48px;
}
.divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/*====================================
            SLIDE SHOW
=====================================*/
.slideshow-container,
.slideshow-container:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0; 
}
/*.slideshow-container:after { 
    content: '';
    background: transparent url(../img/pattern.png) repeat top left; 
}*/
.slideshow-container li .slideshow-img { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0;
    z-index: 0;
}
.slideshow-container li .fit{
    background: no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
.slideshow-container li .slideshow-caption { 
    margin-left: 5%;
    width: 90%;
    max-height: 50%;
    position: absolute;
    bottom: 5px;
    left: 0;
    z-index: 100;
    text-align: center;
    opacity: 0;
    color: #fff;
}
.slideshow-container li .slideshow-caption .name { 
    font-size: 1em;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(0, 0 ,0);
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 5px;
    padding-right: 5px;

}

/*====================================
            CONTROL PANEL
=====================================*/
.control-panel{
    width:80%;
    height: 80%;
    top: 10%;
    left: 10%;
    position: fixed;
    background-color: rgb(86,119,252);
    background-color: rgba(86,119,252,0.8);
    color: #fff;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    overflow: auto;
}
.resumeMenu {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    border-radius: 6px;
    padding: 12px;
    background-color: rgb(20,20,20);
    background-color: rgba(20,20,20,0.80);
    text-align: center;
    z-index: 1201;
}
.resumeMenu, .control-panel-resume-button{
    display: none;
}
.control-panel h1, 
.control-panel h2,
.control-panel h3,
.control-panel h4,
.control-panel h5,
.control-panel h6{
    color: #fff;

}
.control-panel a{
    text-decoration: none;
    color: #e91e63;
}
.control-panel a:hover{
    text-decoration: none;
    color: #f06292;
    
}
.control-panel-open{
    opacity: 0.5;
    position: fixed;
    bottom: 1%;
    left: 1%;
    z-index: 1000;
}
.control-panel-resume-button, .control-panel-prev-button, .control-panel-next-button{
    opacity: 0.5;
    position: fixed;
    top: 50%;
}

.control-panel-resume-button{
    left: 50%;
}
.control-panel-prev-button{
    left: 2%;
}
.control-panel-next-button{
    right: 2%;
}
.control-panel .control-panel-close{
    position: fixed;
    top: 11%;
    right: 11%;
}
.control-panel .control-panel-close, .control-panel-open:hover, .control-panel-prev-button:hover, .control-panel-next-button:hover,.control-panel-resume-button:hover{
    cursor: pointer;
    color: #fff;
    opacity: 1;
}
